{% extends 'base.html' %}

{% block content %}
    <div class="product">
        <img src='{{ url_for("static", filename="/img/clothes.jpg") }}' height="600" width="400">
        <h2 class="title price">ФУТБОЛКА ЖЕНСКАЯ - 500 ₽</h2>
        <p class="description">
            Идеальная базовая женская футболка высокого качества с принтом. Печать выполнена высококачественными
            материалами, благодаря которым выдерживает многократные стирки, не теряя при этом яркость, что подтверждает
            проведенные испытания на производстве. Футболку удобно заправлять в шорты, брюки, юбки, джинсы и носить
            навыпуск. Она подойдет как под классический образ с костюмом, так и под повседневный, спортивный. Белая и
            черная футболка имеет свободную посадку. Ткань приятная к телу. Крой футболки - свободный, модный, легкий
            овесайз - очень модно и стильно. Идеальная базовая футболка с коротким рукавом и округлым вырезом горловины,
            минималистичным принтом. Дышащий материал позволит с комфортом отправиться на прогулку, танцы, йогу или
            другие занятия спортом. Свободный крой не будет сковывать движений, что особенно важно для ежедневной носки.
            Приятная к телу ткань и удобные лекала.
        </p>
    </div>

{% endblock %}