{% extends 'base.html' %}

{% block content %}
    <div class="product">
        <img src='{{ url_for("static", filename="/img/jacket.jpg") }}' height="600" width="400">
        <h2 class="title price">СТЕГАНАЯ КУРТКА С КАПЮШОНОМ - 9500 ₽</h2>
        <p class="description">
            Демисезонная женская куртка из прочной плащевой ткани с водоотталкивающими свойствами. Подкладка — мягкий
            полиэстер. За тепло отвечает искусственный наполнитель VIVA-H. Объемный и легкий материал из волокон
            полиэстера
            хорошо сохраняет форму, не пропускает влагу и не мигрирует из полотна куртки. Модель прямого кроя с
            капюшоном,
            карманами и застежкой на кнопки.
        </p>
    </div>

{% endblock %}